.card {
   min-width: 274px;
}

.card .card-content p {
   /*TODO LIMITER NBR DE LIGNES TROP DUR*/
}

.card a {
  outline: 0;
}

.card .card-image {
  cursor: pointer;
  cursor: hand;
}

.card span.badge.new:after {
  content: "";
}

.card #has-voted {
  position: absolute;
  width: 100%;
  min-height: 36px;
  z-index: 500;
  color: white;
  background: #005b96;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card #has-voted p {
  padding-top: 5px;
  padding-bottom: 5px;
}

.card .average-rating {
  z-index: 1000;
  position: absolute;
  top: 8px;
  left: 0px;
  cursor: pointer;
  cursor: hand;
}

.card .average-rating span {
  color: white;
  border: solid 1px #FFDC00;
}

.card .trigger-bidding-modal {
  cursor: pointer;
}
