<div class="spacer"></div>
<div class="spacer"></div>
<div class="row">  
    <form class="col s6 offset-s3" ng-submit="vm.onSubmit()">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="" id="pseudonym" type="text" class="validate" ng-model="vm.credentials.pseudonym">
          <label for="pseudonym">Pseudo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" ng-model="vm.credentials.email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" ng-model="vm.credentials.password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit">Inscription</button>
      </div>
    </form>
  </div>
</div>
