<script>
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
  });
</script>
<nav role="navigation">
  <div class="nav-wrapper">
    <a ui-sref="home" class="brand-logo">MPCC</a>
    <a href="#" class="button-collapse" data-activates="side-menu" data-sidenav="left" data-menuwidth="200" data-closeonclick="true">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li ng-if="!isLoggedIn"><a ui-sref="register">Inscription</a></li>
      <li ng-if="!isLoggedIn"><a ui-sref="login">Connexion</a></li>
      <li><a href="#">Produits</a></li>
      <li><a href="#">Sondage</a></li>
      <a ng-show="isLoggedIn" class='no-uppercase dropdown-button btn' href='javascript:void(0);' data-activates='profile-dropdown-large' data-beloworigin="true" constrain-width="false" dropdown>
        {{ currentUser.pseudonym | capitalize }}
      </a>
      <ul id='profile-dropdown-large' class='dropdown-content'>
        <li ng-if="isLoggedIn"><a href="#">Profil</a></li>
        <li ng-if="isLoggedIn"><a href="#" ng-click="logout()">Déconnexion</a></li>
      </ul>
    </ul>
    <ul class="side-nav" id="side-menu">
      <li ng-if="!isLoggedIn"><a ui-sref="register">Inscription</a></li>
      <li ng-if="!isLoggedIn"><a ui-sref="login">Connexion</a></li>
      <li><a href="#">Produits</a></li>
      <li><a href="#">Sondage</a></li>
      <a ng-show="isLoggedIn" class='no-uppercase dropdown-button btn' href='javascript:void(0);' data-activates='profile-dropdown-mobile' data-beloworigin="true" dropdown data-hover="true">
        {{ currentUser.pseudonym | capitalize }}
      </a>
      <ul id='profile-dropdown-mobile' class='dropdown-content'>
        <li ng-if="isLoggedIn"><a href="#">Profil</a></li>
        <li ng-if="isLoggedIn"><a href="#" ng-click="logout()">Déconnexion</a></li>
      </ul>
    </ul>
  </div>
</nav>
