<div class="spacer"></div>
<div class="spacer"></div>
<div class="row">
  <form class="col s8 offset-s2" ng-submit="vm.createProduct()">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="" id="first_name" type="text" class="validate" ng-model="vm.product.first_name">
        <label for="first_name">Prénom</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate" ng-model="vm.product.last_name">
        <label for="last_name">Nom</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" ng-model="vm.product.description"></textarea>
        <label for="textarea1">Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="number" name="Number" min="0" value="0" class="validate" ng-model="vm.product.value"/>
        <label for="Number">Valeur de départ</label>
      </div>
    </div>
    <div class="row">
      <div class="form-switch col s6">
        <p>A vendre ?</p>
        <div class="switch">
          <label>
            Nope
            <input type="checkbox" ng-model="vm.product.for_sale">
            <span class="lever"></span>
            Oui
          </label>
        </div>
      </div>
      <div class="col s6">
        <button class="btn waves-effect waves-light create-product-button" type="submit">Créer</button>
      </div>
    </div>
  </form>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
